@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-zinc-800 text-zinc-300 selection:bg-[#3b3523];
}

a {
	@apply hover:underline text-amber-400;
}

.standard-width {
	@apply container px-8 mx-auto;
}

.isometric-grid-background {
	background-image: url("./assets/main-background.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.tech-background {
	background-image: url("./assets/tech-background.svg");
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
}

.button-background {
	background-color: #3b3523;
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23685727' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
