@tailwind base;
@tailwind components;
@tailwind utilities;

/* base ***********************************************************************/

body {
	@apply bg-zinc-800 text-zinc-300;
}

a {
	@apply hover:underline text-amber-400;
}

/* classes ********************************************************************/

.standard-width {
	@apply container px-8 mx-auto;
}

.main-background {
	background-image: url("./assets/main-background.svg");
	background-repeat: repeat;
	background-size: cover;
	background-position: 0;
}

.button-background {
	background-color: #3b3523;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%237a6629' fill-opacity='0.71' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
